<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pigeon</title>
    <link rel="shortcut icon" href="/internal/static/images/index.ico" type="image/x-icon">
    <link rel="stylesheet" href="/internal/static/css/index.css">
</head>
<body>
    <H1 id="both">Привет, ты хочешь свободы общение?</H1>
    <br>
    <H3 id="both">Тогда ты по адрессу, Pigeon свободный мессенджер для свободного общения</H3>
    <br>
    <H5 id="right">С уважением, Pigeon</H5>
</body>
</html>